* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

@font-face {
  font-family: "HyperScrypt_web";
  src: url("HyperScrypt-Stencil_web.ttf");
}

@font-face {
  font-family: "font-name";
  src: url("the-path-to-your-font");
}

body {
	color: purple;
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
}

p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 50px;
}

h1, p, ul {
	font-family: "HyperScrypt_web";
	margin-bottom:  20px;
	text-align: center;
}


ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}


@media only screen and (max-device-width: 812px) { 
    body {
    background: pink;
}

@media only screen and (max-width: 812px) { 
    body {
        background: beige;
    }
    
@media print {
    body {
        background: beige;
    }
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/